* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 1920px;
    /* border: 2px solid red; */
    margin: auto;
}

.container2 {
    /* border: 2px solid red; */
    width: 100%;
    max-width: 1440px;
    margin-left: 240px;
    gap: 60px;
}

.section1 {
    /* border: 2px solid red; */
    display: flex;
    /* box-shadow: 1px 1px 2px 2px grey; */
}

.text1 {
    /* border: 2px solid red; */
    width: 355px;
    font-size: 16px;
    margin-top: 26px;
    margin-bottom: 26px;
    margin-left: 55px;
    /* margin-bottom: 500px; */
    display: flex;
    justify-content: space-between;
    gap: 15px;
    text-shadow: 4px 0px rgba(120, 37, 141, 0.15);
}

.text11 {
    text-decoration: none;
    color: black;
}

.text11:hover {
    text-decoration: underline;
    color: rgba(120, 37, 141, 1);
}

.text12 {
    text-decoration: none;
    color: black;
}

.text12:hover {
    text-decoration: underline;
    color: rgba(120, 37, 141, 1);
}

.text13 {
    text-decoration: none;
    color: black;
}

.text13:hover {
    text-decoration: underline;
    color: rgba(120, 37, 141, 1);
}

.text1>p>span {
    /* border: 2px solid red; */
    margin-left: 5px;
}

.text2>span>svg:hover {
    text-decoration: underline;
    color: rgba(120, 37, 141, 1);
}

.text2:hover p {
    text-decoration: underline;
    color: rgba(120, 37, 141, 1);
}

/* .text1>span>svg:hover
    text-decoration: underline;
    color: #491ee4; */

.logo {
    /* border: 2px solid red; */
    /* margin-right: 1750px; */
    width: 120px;
    margin-left: 50px;
    margin-top: 18px;
    margin-bottom: 28px;
}

.right_botton>a>button {
    width: 82px;
    margin-top: 24px;
    margin-bottom: 24px;
    margin-right: 50px;
    margin-left: 1208px;
    padding-top: 12px;
    padding-right: 18px;
    padding-bottom: 12px;
    padding-left: 18px;
    gap: 10px;
    background-color: purple;
    border: none;
    border-radius: 8px;
    color: white;

}

.right_botton>button>a {
    color: white;
    text-decoration: none;
}

.right_botton>a>button:hover {
    background-color: rgb(61, 10, 61);
}

.section2 {
    margin-top: 32px;
    margin-left: 240px;
}

.section2_top {
    display: flex;
    align-items: center;
    gap: 10px;
}

.section2_top>a {
    text-decoration: none;
    color: rgba(130, 130, 130, 1);
}

.section2_top>a:hover {
    text-decoration: underline;
    color: rgba(120, 37, 141, 1);
}

.section2_bottom>h2 {
    font-weight: 900;
    font-size: 46px;
    line-height: 54px;
    margin-top: 28px;
}

.section2_bottom>p {
    font-weight: 500;
    font-style: medium;
    font-size: 20px;
    line-height: 28px;
    color: rgba(88, 88, 88, 1);
    margin-top: 10px;
}

.section3 {
    display: flex;
    margin-left: 175px;
    margin-top: 54px;
    justify-content: space-around;
    align-items: center;
}

.section3_text {
    width: 700px;
    height: 296px;
    gap: 24px;
}

.section3_text_top>h3 {
    font-weight: 900;
    font-size: 32px;
    line-height: 42px;
}

.span {
    color: purple;
}

.section3_text_top>p {
    font-weight: 500;
    margin-top: 24px;
    font-style: medium;
    font-size: 20px;
    line-height: 28px;
    color: rgba(88, 88, 88, 1);
}

.section4 {
    margin-left: 240px;
    display: flex;
    align-items: center;
}

.section4_text {
    padding-bottom: 50px;
    padding-top: 50px;
    gap: 24px;
    width: 700px;
    height: 320px;
    margin-left: 95px;
}

.section4_text>h3 {
    font-weight: 900;
    font-size: 32px;
    line-height: 42px;
}

.section4_text>p {
    font-weight: 500;
    font-style: medium;
    font-size: 20px;
    line-height: 28px;
    color: rgba(88, 88, 88, 1);
    margin-top: 24px;
}

.section5 {
    display: flex;
    align-items: center;
    margin-left: 240px;
}

.section5_text {
    width: 700px;
    gap: 24px;
}

.section5_text>h3 {
    font-weight: 900;
    font-size: 32px;
    line-height: 42px;
}

.section5_text>p {
    font-weight: 500;
    font-style: medium;
    font-size: 20px;
    line-height: 28px;
    color: rgba(88, 88, 88, 1);
    margin-top: 24px;
}

.section6 {
    /* border: 2px solid red; */
    text-align: center;
    margin-top: 90px;
}

.section6_top {
    width: 900px;
    text-align: center;
    margin-left: 514px;
}

.section6_top>h2 {
    font-weight: 900;
    font-size: 46px;
    line-height: 54px;
}

.section6_top>p {
    font-weight: 500;
    font-style: medium;
    font-size: 20px;
    line-height: 28px;
    margin-top: 24px;
    color: rgba(88, 88, 88, 1);
}

.section6_cart {
    gap: 20px;
    margin-top: 85px;
    display: flex;
    gap: 40px;
    justify-content: center;
    /* justify-content: space-evenly; */
}

.section6_text {
    gap: 4px;
    margin-top: 28px;
}

.section6_text>p {
    text-align: center;
    font-weight: 700;
    font-style: bold;
    font-size: 20px;
    line-height: 28px;
}

.p2 {
    color: rgba(130, 130, 130, 1);
    font-weight: 500;
    font-style: medium;
    font-size: 20px;
    line-height: 28px;
}

.section11 {
    width: 1440px;
    height: 524px;
    padding: 24px 100px 24px 100px;
    margin-left: 242px;
    margin-top: 92.5px;
    gap: 234px;
    background-color: rgba(239, 239, 255, 1);
    display: flex;
}

.section11_top {
    align-content: space-around;
}

.section11_top>h1 {
    font-weight: 900;
    font-size: 46px;
    line-height: 54px;
}



.section11_number {
    /* border: 2px solid red; */
    width: 600px;
    gap: 25px;
}

.section11_number>p {
    margin-top: 40px;

}

.section11_number>input {
    width: 407px;
    height: 48px;
    border-radius: 8px;
    border: none;
    margin-bottom: 12px;
    margin-top: 8px;
    padding: 12px 18px 12px 18px;
    gap: 10px;
    background-color: rgba(255, 255, 255, 1);
}

.section11_number>button {
    margin-left: 20px;
    padding: 12px 20px 12px 20px;
    gap: 10px;
    border-radius: 8px;
    color: white;
    background-color: rgba(120, 37, 141, 1);
    border: none;
}


.section11_number>button:hover {
    background-color: rgb(61, 10, 61);
}

.section11_number_check {
    display: flex;
    margin-top: 25px;
}

.section11_number_check>input {
    width: 24px;
    height: 24px;
    border: 1px solid rgba(187, 146, 198, 1);
    margin-right: 15px;
    margin-bottom: 16px;
}

.section11_number_check>p {
    width: 561px;
    height: 40px;
    font-weight: 500;
    font-style: medium;
    font-size: 16px;
    line-height: 20px;
    color: #828282;
}

.section11_number_check>p>a {
    color: rgb(59, 123, 207);
}

.section11_img {
    margin-top: 67.5px;
    margin-bottom: 67.5px;
    margin-right: 197px;
}

.section14 {
    width: 1920px;
    margin-top: 147px;
    background-color: rgba(100, 31, 118, 1);
}

.section14_cart {
    padding-top: 77px;
    padding-bottom: 102px;
    display: flex;
    justify-content: space-evenly;
    color: white;
}

.section14_bottom {
    background-color: rgba(35, 35, 35, 1);
}

.section14_cart_cart1>p {
    width: 292px;
    font-weight: 500;
    font-style: medium;
    font-size: 14px;
    line-height: 120%;
    color: rgb(190, 169, 169);
    margin-top: 30.1px;
}

.section14_img {
    margin-top: 44px;
}

.section14_img>img {
    margin-right: 13px;
}

.section14_cart_cart2>h4 {
    font-weight: 700;
    font-style: bold;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 11px;
}

.section14_cart_cart2>p {
    font-weight: 500;
    font-style: medium;
    font-style: 16px;
    line-height: 24px;
    color: rgb(190, 169, 169);
}

.section14_cart_cart3>h4 {
    font-weight: 700;
    font-style: bold;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 11px;
}

.section14_cart_cart3>p {
    font-weight: 500;
    font-style: medium;
    font-style: 16px;
    line-height: 24px;
    color: rgb(190, 169, 169);
}

.section14_cart_cart4>h4 {
    font-weight: 700;
    font-style: bold;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 11px;
}

.section14_cart_cart4>p {
    font-weight: 500;
    font-style: medium;
    font-style: 16px;
    line-height: 24px;
    color: rgb(190, 169, 169);
}

.section14_bottom {
    display: flex;
    color: rgb(190, 169, 169);
}

.section14_bottom1 {
    /* border: 2px solid red; */
    width: 500px;
    margin-left: 239px;
    margin-top: 12px;
    padding-bottom: 12px;
    font-weight: 400;
    font-size: 14px;
    line-height: 112.99999999999999%;
    color: rgb(190, 169, 169);
}

.section14_bottom2 {
    /* border: 2px solid red; */
    width: 1000px;
    margin-left: 651px;
    margin-top: 12px;
    padding-bottom: 12px;
    display: flex;
    justify-content: space-evenly;
}