*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    max-width: 1920px;
    /* border: 2px solid red; */
    margin: auto;
}

.section1{
    /* border: 2px solid red; */
    display: flex;
    /* box-shadow: 1px 1px 2px 2px grey; */
}

.asfdsa{
    color: #222128;
    
}

.text1{
    /* border: 2px solid red; */
    width: 355px;
    font-size: 16px;
    margin-top: 26px;
    margin-bottom: 26px;
    margin-left: 55px;
    /* margin-bottom: 500px; */
    display: flex;
    justify-content: space-between;
    gap: 15px;
    text-shadow: 4px 0px rgba(120, 37, 141, 0.15);
}

.text11:hover{
    text-decoration: underline;
color: rgba(120, 37, 141, 1);    background-color: #fff;
}

.text12:hover{
    text-decoration: underline;
color: rgba(120, 37, 141, 1);}

.a>.text13{
    text-decoration: none;
}

.text13:hover{
    text-decoration: underline;
    color: rgba(120, 37, 141, 1);
}

.text1>p>span{
    /* border: 2px solid red; */
    margin-left: 5px;
}

.text2>span>svg:hover{
    text-decoration: underline;
color: rgba(120, 37, 141, 1);}

.text2:hover p{
    text-decoration: underline;
    color: #491ee4;
}
.logo{
    /* border: 2px solid red; */
    /* margin-right: 1750px; */
    width: 120px;
    margin-left: 50px;
    margin-top: 18px;
    margin-bottom: 28px;
}

.right_botton>a>button{
    width: 82px;
    margin-top: 24px;
    margin-bottom: 24px;
    margin-right: 50px;
    margin-left: 1208px;
    padding-top: 12px;
    padding-right: 18px;
    padding-bottom: 12px;
    padding-left: 18px;
    gap: 10px;
    background-color: purple;
    border: none;
    border-radius: 8px;
    color: white;

}

.right_botton>a>button:hover{
    background-color: rgb(61, 10, 61);
}

.section2_top{
    margin-left: 240px;
    margin-top: 180px;
}

.section2_top_top1>a{
    /* border: 2px solid red; */
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    margin-right: 10px;
    text-decoration: none;
    color: black;
}


.section2_top_top1>a:hover{
    color: rgba(120, 37, 141, 1);
    text-decoration: underline;
}

.section2_top_top1>span{
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    margin-left: 10px;
}

.section2_top1_top1{
    font-weight: 900;
    font-size: 26px;
    line-height: 54px;
}

.section2_top_top1{
    display: flex;
}

.section2_top_top2{
    margin-top: 30px;
    gap: 15px;
    
    display: flex;
}

.bgc{
    background-color: rgba(120, 37, 141, 1);
    color: white;
    font-weight: 500;
    font-style: medium;
    font-size: 14px;
    line-height: 24px;
    border: none;
}

.bgc>button{
    padding: 5px 10px 5px 20px;
    border: none;
    gap: 10px;
}

.bgc>p{
    /* border: 2px solid red; */
    margin-right: 8px;
}

.section2_top_top2>button{
    border-radius: 4px;
    padding: 5px 10px 5px 20px;
    gap: 10px;
    border: none;
}

.section2_top_top2>p{
    
    background-color: rgba(239, 239, 255, 1);
}

.section3_cart{
    /* border: 2px solid red; */
    max-width: 100%;
    width: 1070px;
    gap: 39px;
    margin-left: 242px;
    margin-top: 32px;
}

.section3_cartt1{
    /* border: 2px solid red; */
        max-width: 100%;
    width: 960px;
    gap: 39px;
    margin-left: 242px;
    margin-top: 32px;
    display: flex;
    justify-content: start;
}

.section3_cart1{
    /* border: 2px solid red; */
    background-color: #EFEFFF;
    width: 453px;
    height: 325px;
    border-radius: 10px;
}

.section3_cartt2{
    /* border: 2px solid red; */
    max-width: 100%;
    width: 960px;
    gap: 39px;
    margin-left: 242px;
    margin-top: 32px;
    display: flex;
    justify-content: start;
}

.section3_cartt3{
    /* border: 2px solid red; */
    max-width: 100%;
    width: 960px;
    gap: 39px;
    margin-left: 242px;
    margin-top: 32px;
    display: flex;
    justify-content: start; 
}

.section3_cartt4{
        /* border: 2px solid red; */
    max-width: 100%;
    width: 960px;
    gap: 39px;
    margin-left: 242px;
    margin-top: 32px;
    display: flex;
    justify-content: start;
}

.section3_cart1>h1{
    /* border: 2px solid red; */
    margin-top: 20px;
    margin-left: 40px;
}

.section3_cart1>p{
    /* border: 2px solid red; */
    margin-top: 20px;
    margin-left: 40px;
}

.section3_cart1>img{
    /* border: 2px solid red; */
    margin-left: 40px;
    margin-top: 40px;
}

.text{
    /* border: 2px solid red; */
    font-weight: 600;
    font-size: 16px;
    margin-left: 40px;
    margin-right: 40px;
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1px;
}

.text>svg{
    margin-right: 120px;
    
}

.text>svg:hover{
    color: rgb(61, 10, 61);
}

.text>a{
    color: #8E49A0;
    text-decoration: none;
}

.text>a:hover{
    padding-right: 20px;
    color: rgb(61, 10, 61);
}

.cart1{
    background-color: #FDEDE4;
}

.cart2{
    background-color: #EFEFFF;
}

.section4{
    /* border: 2px solid red; */
    width: 331px;
    height: 588px;
    margin-top: 60px;
    margin-left: 40px;
    padding: 30px;
    border-radius: 10px;
    gap: 20px;
}

.section4_top1{
    font-weight: 500;
    font-style: medium;
    font-size: 20px;
    line-height: 28px;
}

.section4_top2{
    color: rgba(130, 130, 130, 1);
    gap: 18px;
    font-weight: 500;
    font-style: medium;
    font-size: 16px;
    line-height: 24px;
}

.top2{
    /* border: 2px solid red; */
    margin-top: 30px;
}

.section3_4{
    display: flex;
}

.section14 {
    width: 1920px;
    margin-top: 147px;
    background-color: rgba(100, 31, 118, 1);
}

.section14_cart {
    padding-top: 77px;
    padding-bottom: 102px;
    display: flex;
    justify-content: space-evenly;
    color: white;
}

.section14_bottom {
    background-color: rgba(35, 35, 35, 1);
}

.section14_cart_cart1>p {
    width: 292px;
    font-weight: 500;
    font-style: medium;
    font-size: 14px;
    line-height: 120%;
    color: rgb(190, 169, 169);
    margin-top: 30.1px;
}

.section14_img {
    margin-top: 44px;
}

.section14_img>img {
    margin-right: 13px;
}

.section14_cart_cart2>h4 {
    font-weight: 700;
    font-style: bold;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 11px;
}

.section14_cart_cart2>p {
    font-weight: 500;
    font-style: medium;
    font-style: 16px;
    line-height: 24px;
    color: rgb(190, 169, 169);
}

.section14_cart_cart3>h4 {
    font-weight: 700;
    font-style: bold;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 11px;
}

.section14_cart_cart3>p {
    font-weight: 500;
    font-style: medium;
    font-style: 16px;
    line-height: 24px;
    color: rgb(190, 169, 169);
}

.section14_cart_cart4>h4 {
    font-weight: 700;
    font-style: bold;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 11px;
}

.section14_cart_cart4>p {
    font-weight: 500;
    font-style: medium;
    font-style: 16px;
    line-height: 24px;
    color: rgb(190, 169, 169);
}

.section14_bottom {
    display: flex;
    color: rgb(190, 169, 169);
}

.section14_bottom1 {
    /* border: 2px solid red; */
    width: 500px;
    margin-left: 239px;
    margin-top: 12px;
    padding-bottom: 12px;
    font-weight: 400;
    font-size: 14px;
    line-height: 112.99999999999999%;
    color: rgb(190, 169, 169);
}

.section14_bottom2 {
    /* border: 2px solid red; */
    width: 1000px;
    margin-left: 651px;
    margin-top: 12px;
    padding-bottom: 12px;
    display: flex;
    justify-content: space-evenly;
}
